{extend name="index" /}
{block name="content"}
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <table class="table table-bordered">
        <tr class="info">
          <td>周次</td>
          {volist name="periods" id="period"}
          <td>{$period.name}</td>
          {/volist}
        </tr>
        {volist name="days" id="day"}
        <tr>
          <td class="info">{$day.name}</td>
          {volist name="periods" id="period"}
          <td>
            {volist name="students" id="student"}
            <label>{$student.name}&nbsp{eq name="$student->getHasCourse($student.id,$day.id,$period.id)" value="true"}有课{else /}无课{/eq}</label>
            <br />
            {/volist}
          </td>
          {/volist}
        </tr>
        {/volist}
      </table>
    </div>
  </div>
{/block}
