{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="content"}

<center>
    <table class="table table-hover table-bordered" style="width: 1140px; border:#000 solid 0px;">
        <tr class="info">
            <th class="col-md-2">周次</th>
            <th class="col-md-2">第一节</th>
            <th class="col-md-2">第二节</th>
            <th class="col-md-2">第三节</th>
            <th class="col-md-2">第四节</th>
            <th class="col-md-2">第五节</th>
        </tr>
        <tr>
            <td>星期一</td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
        </tr><br>
        <tr>
            <td>星期二</td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
        </tr><br>
        <tr>
            <td>星期三</td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
        </tr><br>
        <tr>
            <td>星期四</td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
        </tr><br>
        <tr>
            <td>星期五</td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
        </tr><br>
        <tr>
            <td>星期六</td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
        </tr><br>
        <tr>
            <td>星期日</td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
            <td>有课<span class="badge" style="background-color:">陈杰</span><br>
                有课<span class="badge" style="background-color:">董浩天</span><br>
                有课<span class="badge" style="background-color:">黄廷祥</span><br>
                有课<span class="badge" style="background-color:">李维静</span><br>
                有课<span class="badge" style="background-color:">李宜衡</span><br>
                有课<span class="badge" style="background-color:">朴世超</span><br>
                有课<span class="badge" style="background-color:">吴闯</span><br>
                有课<span class="badge" style="background-color:">张喜硕</span><br>
            </td>
        </tr><br>
    </table>
</center>
{/block}
